html {
	background-color: #222;
}

.sun {
	stroke: #fff;
	fill: #fca903;
}

.earth {
	stroke: #fff;
	fill: #2870b8;
}

.moon {
	fill: #888;
	stroke: #fff;
}

.camera {
	fill: #fff;
}

svg {
	float: left;
}

.mantissaBits {
	padding: 10px;
	color: #fff;
	font: 24px 'Myriad Pro';
}

.options {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.options * {
	margin-left: auto;
	margin-right: auto;
	display: block;
}